/* Common Shared Styles */

body{
    font-family: 'Ubuntu', sans-serif;
}

.text-primary{
    color: #FF8C00 ;
}

.btn-primary{
    border: 1px solid black;
    border-radius: 5px;
    background: #00FF7F;
   
}


/* Nav related styles */

nav  {
    display: flex;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}