/* Common Shared Styles */

body{
    font-family: 'Ubuntu', sans-serif;
}

.text-primary{
    color: #FF8C00 ;
}

.btn-primary{
    border-radius: 5px;
    background: #d00489;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}


/* Nav related styles */

nav  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin: 50px;
}

nav a{
    text-decoration: none;
    color: #474747;
}